<nav class="top">
    <a href="index.html" class="mark">FAEVAD</a>
    <ul>
        <li><a href="inks.html"{% if page.url == '/inks.html' %} aria-current="page"{% endif %}>INKS</a></li>
        <li><a href="watercolors.html"{% if page.url == '/watercolors.html' %} aria-current="page"{% endif %}>WATERCOLORS</a></li>
        <li><a href="about.html"{% if page.url == '/about.html' %} aria-current="page"{% endif %}>ABOUT</a></li>
        <li><a href="contact.html"{% if page.url == '/contact.html' %} aria-current="page"{% endif %}>CONTACT</a></li>
    </ul>
</nav>
